body {
  --navColor: black;
  --backgroundColor: black;
  --mainColor: white;
  background-color: var(--backgroundColor);
  color: var(--mainColor);
}
a {
  color: var(--mainColor);
}

.bg-dark {
  background-color: var(--backgroundColor) !important;
}

.navbar-dark {
  background-color: var(--navColor) !important;
}
/* .navbar-brand {
  border: solid;
  border-radius: 10px;
  padding: 3px;
  text-decoration: none;
} */

.navbar-dark .navbar-brand {
  color: var(--mainColor);
}

.card {
  background-color: black;
  color: white;
}

.footer {
  background-color: black;
}

.footer-right {
  float: right;
}

.footer-left {
  float: left;
}

.hero-image {
  max-height: 300px;
}
